# Dependency directories
node_modules/

# Local zip builds
terraform/files/
*.zip

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
tfplan

# OS files
.DS_Store

# Python environment
__pycache__/
*.pyc

# Compiled PDF Reports
*.pdf

